torch
openai-clip
opencv-python
torchvision
scikit-learn
matplotlib
pandas
seaborn
grad-cam
lime
shap
tqdm
quantus
transformers==4.34.0 
einops
bitsandbytes
sentencepiece
accelerate
tensorflow
cachetools
xplique
